@font-face {
  font-family: Fira Sans;
  src: url(Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Regular.ttf);
  font-family: Nunito Sans;
  src: url(Nunito_Sans/NunitoSans-Regular.ttf);
}



body {
  font-family: 'Nunito sans' !important;
}

.container {
  max-width: 960px;
}

html {
  scroll-behavior: smooth;
}

#clockdiv{
  color: #f50000;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #fff;
  display: inline-block;
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}

.results-table table, td{
  border: 1px solid black !important;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #ffffff;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: #ffffff;
  background-color: #f50000;
  text-decoration: none;
}

.site-header .nav-item.active a{
  color: #ffffff;
  background-color: #f50000;
}

.section-title{
  padding-top: 1rem !important;
  color: #f50000;
}
/*
 * Extra utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal>* {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}


/*--------------------------------------------------------------
# front Section
--------------------------------------------------------------*/
#front {
  width: 100%;
  height: 100vh;
  background: url(../image/bg.png) top center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

@media (min-width: 1024px) {
  #front {
    background-attachment: fixed;
  }
}

#front:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#front .front-container {
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

@media (max-width: 991px) {
  #front .front-container {
    top: 70px;
  }
}

#front h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  font-weight: 600;
  text-transform: uppercase;
}

#front h1 span {
  color: #f50000;
}

@media (max-width: 991px) {
  #front h1 {
    font-size: 34px;
  }
}

#front p {
  color: #ebebeb;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 991px) {
  #front p {
    font-size: 16px;
  }
}

#front .about-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #f50000;
}

#front .about-btn:hover {
  background: #f50000;
  color: #fff;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

.site-footer{
 color:#fff;
 background-color: #000;
 width: 100% !important;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f50000;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #f50000;
  color: #ffffff;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 4px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.instagram {
  background: #bb0000;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}


.box {
  float: left;
  overflow: hidden;
  color: #ffffff;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 2;
  cursor: pointer;
  display: block;
  background-color: red;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Add padding and border to inner content
for better animation effect */
.box-inner {
  width: 100%;
  height: auto;
}
